h2, h3
{
	text-align: center;
}

#cleaning
{
	display: none;
}

#kitchen_list, #basement_list
{
	display: none;
}

#bathroom_list
{
	display: none;
}

#carousel
{
	display: block;
}

#cleaning_and_notes
{
	display: none;
}

#kitchenLastCleaning, #basementLastCleaning, #bathroomLastCleaning
{
	display: none;
	border: 3px solid #d9534f;
	border-radius: 15px;
	padding: 5%;
} 

td
{
	width: 30%;
}


.lista
{
	text-decoration: none;
}



